.content {
  background: var(--primary);
  color: var(--primary-foreground);
  z-index: 50;
  width: max-content;
  max-width: 80vw;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  will-change: transform, opacity;
  animation: _fadeZoomIn 120ms ease-out;
}

@keyframes _fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.arrow {
  width: 0.625rem;
  height: 0.625rem;
  background: var(--primary);
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-radius: 2px;
  z-index: 50;
  fill: var(--primary);
}
