:root {
  --background: oklch(0.945 0.014 94.71);
  --foreground: oklch(0.285 0.05 76.8);

  --ring: oklch(0.6 0.08 80);

  --primary: oklch(0.58 0.1 79.6);
  --primary-foreground: oklch(0.96 0.035 94);

  --secondary: oklch(0.84 0.05 100);
  --secondary-foreground: oklch(0.34 0.06 80);

  --muted: oklch(0.88 0.02 95);
  --muted-foreground: oklch(0.43 0.03 80);

  --accent: oklch(0.83 0.07 115);
  --accent-foreground: oklch(0.36 0.06 80);

  --destructive: oklch(0.55 0.19 25);
  --destructive-foreground: oklch(0.96 0.035 94);

  --border: oklch(0.82 0.03 80);
  --input: oklch(0.82 0.03 80);

  --sidebar: oklch(0.93 0.03 94);
  --sidebar-foreground: oklch(0.285 0.05 76.8);
  --sidebar-primary: oklch(0.58 0.1 79.6);
  --sidebar-primary-foreground: oklch(0.96 0.035 94);
  --sidebar-accent: oklch(0.83 0.07 115);
  --sidebar-accent-foreground: oklch(0.36 0.06 80);
  --sidebar-border: oklch(0.82 0.03 80);
  --sidebar-ring: oklch(0.7 0.05 80);
}

[data-theme='dark'] {
  --background: hsl(90, 10%, 10%);
  --foreground: hsl(45, 20%, 85%);

  --ring: hsl(95, 25%, 50%);

  --primary: hsl(95, 25%, 50%);
  --primary-foreground: hsl(90, 10%, 10%);

  --secondary: hsl(90, 15%, 25%);
  --secondary-foreground: hsl(45, 20%, 85%);

  --muted: hsl(90, 10%, 22%);
  --muted-foreground: hsl(48, 10%, 65%);

  --accent: hsl(100, 20%, 30%);
  --accent-foreground: hsl(45, 20%, 85%);

  --destructive: hsl(0, 65%, 45%);
  --destructive-foreground: hsl(45, 20%, 85%);

  --border: hsl(90, 10%, 30%);
  --input: hsl(90, 10%, 30%);

  --sidebar: hsl(90, 10%, 12%);
  --sidebar-foreground: hsl(45, 20%, 85%);
  --sidebar-primary: hsl(95, 25%, 50%);
  --sidebar-primary-foreground: hsl(90, 10%, 10%);
  --sidebar-accent: hsl(100, 20%, 30%);
  --sidebar-accent-foreground: hsl(45, 20%, 85%);
  --sidebar-border: hsl(90, 10%, 30%);
  --sidebar-ring: hsl(100, 15%, 45%);
}
