*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.2;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
span {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-wrap: balance;
}
